mat-card.abnDetails {
  padding: 0px !important; }
  mat-card.abnDetails mat-card-header {
    padding: .375rem 1rem 0 1rem;
    border-bottom: 1px solid #EDEDED; }
    mat-card.abnDetails mat-card-header .mat-card-avatar img {
      margin-top: .375rem; }
    mat-card.abnDetails mat-card-header mat-card-title {
      margin-top: .75rem;
      font-size: 1rem;
      font-weight: 600; }
  mat-card.abnDetails .mat-card-content {
    padding: 1.5rem 1rem 1.5rem 4.0625rem;
    font-size: 1rem; }
    mat-card.abnDetails .mat-card-content table th, mat-card.abnDetails .mat-card-content table td {
      padding-bottom: 0.3125rem; }
    mat-card.abnDetails .mat-card-content table td {
      padding-left: 1rem; }

/*# sourceMappingURL=abn-finder.component.css.map */
