@import '../../../../variables';

mat-card{
    &.abnDetails{
        padding: 0px !important; 
        
        mat-card-header{
            padding: .375rem 1rem 0 1rem;
            border-bottom: 1px solid #EDEDED;
            
            .mat-card-avatar img{
                margin-top: .375rem;
            }
            
            mat-card-title{
                margin-top: .75rem;
                font-size: 1rem;
                font-weight: 600;
            }
        }        
                    
        .mat-card-content{
            padding: 1.5rem 1rem 1.5rem 4.0625rem;
            font-size: 1rem;
            
            table{                
                th, td{
                    padding-bottom: 0.3125rem;
                }
                
                td{
                    padding-left: 1rem;
                }
            }
        }

    }
}