<form>
    <mat-form-field class="full-width">
        <mat-label>Enter ABN/ACN</mat-label>
        <input matInput [formControl]="abn" placeholder="11 Digits"/>
        <mat-spinner *ngIf="inProgress" diameter="20" class="input-right-mat-spinner"></mat-spinner>
        <mat-error>
            Invalid ABN Number
        </mat-error>
    </mat-form-field>
</form>
<div class="row mt10">
    <div class="col">
        <mat-card *ngIf="data.Abn" class="abnDetails">
            <mat-card-header>
                <div *ngIf="isActive" mat-card-avatar><img src="/assets/img/check-circle-regular.svg" height="32"/></div>
                <div *ngIf="!isActive" mat-card-avatar><img src="/assets/img/times-circle-regular.svg" height="32"/></div>
                <mat-card-title *ngIf="isActive">We found your details</mat-card-title>
                <mat-card-title *ngIf="!isActive">We found your details but...</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table>
                    <tr><th>Legal name:</th><td>{{data.EntityName}}</td></tr>
                    <tr><th>ABN Status:</th><td>{{data.AbnStatus}} <span *ngIf="isActive">from {{data.AddressDate}}</span></td></tr>
                    <tr><th>Entity Type:</th><td>{{data.EntityTypeName}}</td></tr>
                    <tr *ngIf="data.BusinessName !=''"><th>Trading as:</th><td>{{data.BusinessName}}</td></tr>
                </table>
                <div *ngIf="!isActive" class="mt20"><strong>The entity you are searching for has been deregistered. Please try a different entity number.</strong></div>
            </mat-card-content>
        </mat-card>
        <div class="alert alert-danger" *ngIf="isFail">Can't verify ABN, please try again later.</div>
    </div>
</div>