<div class="card credit-card">
    <img src="/assets/img/logo-visa.svg" class="logo-visa"/>
    <form [formGroup]="form">
        <mat-form-field class="full-width white" appearance="legacy">
            <mat-label>Card Holder Name</mat-label>                
            <input matInput formControlName="credit_card_holder_name" placeholder="Card Holder Name">
            <mat-error>
                <span *ngIf="!form.controls.credit_card_holder_name.valid">
                    Invalid Name
                </span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width white" appearance="legacy">
            <mat-label>Card Number</mat-label>                
            <input matInput formControlName="credit_card_number" placeholder="Card Number">
            <mat-error>
                <span *ngIf="!form.controls.credit_card_number.valid">
                    Invalid Card Number
                </span>
            </mat-error>
        </mat-form-field>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field class="full-width white" appearance="legacy">
                    <mat-label>Valid to</mat-label>                
                    <input matInput formControlName="credit_card_valid_to" placeholder="Valid to">
                    <mat-error>
                        <span *ngIf="!form.controls.credit_card_valid_to.valid">
                            Invalid date
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field class="full-width white" appearance="legacy">
                    <mat-label>CVC</mat-label>                
                    <input matInput formControlName="credit_card_cvc" placeholder="CVC">
                    <mat-error>
                        <span *ngIf="!form.controls.credit_card_cvc.valid">
                            Invalid CVC
                        </span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>