.card {
  background: #004E81 url("/assets/img/bg-credit-card.png");
  background-repeat: repeat-x;
  box-shadow: 0px 1px 5px #bfbfbf;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 40px 20px 40px 20px;
  color: white; }
  @media only screen and (min-width: 991px) {
    .card {
      width: 500px;
      height: 288px; } }
  .card .logo-visa {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 65px; }

/*# sourceMappingURL=credit-card-form.component.css.map */
