<form>
    <mat-form-field class="full-width">
        <input type="text" placeholder="{{placeholder}}" aria-label="Address" matInput [formControl]="field" [matAutocomplete]="auto" (change)="onChange($event)" (keyup)="onKeyup($event)">
        <mat-spinner *ngIf="inProgress" diameter="20" class="input-right-mat-spinner"></mat-spinner>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredAddresses | async" [value]="option.full_address" (onSelectionChange)="onSelect($event, option.full_address, option.id); false;">
            {{option.full_address}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="details-loader" *ngIf="inProgressDetails">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</form>
