.top-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 10px #595959;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 600; }
  @media only screen and (max-width: 991px) {
    .top-bar {
      position: fixed;
      top: 0;
      width: 100%; } }
  .top-bar .inner {
    display: flex;
    height: 60px;
    align-items: center; }
  .top-bar .logo img {
    height: 30px; }
  .top-bar .contact img {
    margin-right: 5px; }
    .top-bar .contact img:last-child {
      margin-left: 25px; }
  .top-bar .menu {
    flex: 1;
    text-align: right; }
    .top-bar .menu a {
      margin-left: 20px; }
      .top-bar .menu a.mat-raised-button {
        border-radius: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        box-shadow: none !important;
        border: 1px solid #8c8c8c; }
        .top-bar .menu a.mat-raised-button mat-icon {
          margin-left: 10px;
          color: #0099FF; }
  .top-bar .menu-trigger {
    position: absolute;
    right: 10px; }

.main {
  position: relative; }

.mobile-fixed-contact {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  color: #fff; }
  .mobile-fixed-contact a {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    line-height: 3em;
    color: #fff; }
    .mobile-fixed-contact a svg path {
      fill: red; }
    .mobile-fixed-contact a img {
      height: 20px;
      margin-right: 10px; }
    .mobile-fixed-contact a:nth-child(1) {
      background-color: #0099FF; }
    .mobile-fixed-contact a:nth-child(2) {
      background-color: #33adff; }
    .mobile-fixed-contact a:hover {
      text-decoration: none; }

/*# sourceMappingURL=app.component.css.map */
