@import '../variables';

.top-bar{
    position: relative;  
    z-index: 2;
    box-shadow: 0px 0px 10px $color-gray;
    background-color: white;
    font-size: 0.875rem;
    font-weight: 600;
    
    @media only screen and (max-width: 991px){
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .inner{
        display: flex;
        height: 60px;
        align-items: center;
    }
    
    .logo{
        img{
            height: 30px;
        }
    }
     
    .contact{
        img{
            margin-right: 5px;
            
            &:last-child{
                margin-left: 25px;
            }
        }
    }
    
    .menu{
        flex: 1;
        text-align: right;
        
        a{
            margin-left: 20px;
            
            &.mat-raised-button{       
                border-radius: 0px !important;
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                box-shadow: none !important;
                border: 1px solid $color-gray--lighter;
                
                mat-icon{
                    margin-left: 10px;
                    color: $color-blue;
                }
            }
        }
    }
    
    .menu-trigger{
        position: absolute;
        right: 10px;
    }
}

.main{
    position: relative;
}

.mobile-fixed-contact{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
    color: #fff;
    
    a{
        float: left;
        width: 50%;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        line-height: 3em;
        color: #fff;
        
        svg path{
            fill: red;
        }
        
        img{
            height: 20px;
            margin-right: 10px;
        }
        
        &:nth-child(1){
            background-color: $color-blue;
        }
        
        &:nth-child(2){
            background-color: lighten($color-blue, 10%);
        }
        
        &:hover{
            text-decoration: none;
        }
    }
}