<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col inner">
                <a href="/" class="logo"><img src="/assets/img/logo.svg" height="30"></a>
                <div class="contact d-none d-lg-block">
                    <a href="tel:1800 100 800"><img src="/assets/img/ico_headphones.svg" height="25"> 1800 100 800</a>
                    <a href="mailto:info@movox.com.au"><img src="/assets/img/ico_email.svg" height="25"> info@movox.com.au</a>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="menu" class="d-block d-lg-none menu-trigger">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <span>Contact</span>
                    </button>
                    <button mat-menu-item>
                      <span>Pay a bill</span>
                    </button>
                    <button mat-menu-item>
                      <span>Sign in <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon></span>
                    </button>
                </mat-menu>
                <div class="menu d-none d-lg-block">
                    <a href="#">Contact</a>
                    <a href="#">Pay a bill</a>
                    <a mat-raised-button routerLink="/user/signin" class="right-icon">Sign In <mat-icon>arrow_forward</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>
<div class="mobile-fixed-contact d-block d-lg-none">
    <a href="tel:{{settings.get('contactPhone')}}"><img src="/assets/img/ico_headphones.svg" height="25"> Call Us</a>
    <a href="mailto:{{settings.get('contactEmail')}}"><img src="/assets/img/ico_email.svg" height="25"> Email</a>
</div>
