<section class="d-none d-lg-block mt100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <img src="/assets/img/logo.svg" height="25" class="mb20">
            </div>
        </div>
    </div>
</section>
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="text-color-gray">Welcome back! Please login to your account.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <form [formGroup]="loginForm">
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Email</mat-label>                
                        <input matInput formControlName="email" placeholder="Email">
                        <mat-error>
                            <span *ngIf="loginForm.hasError('required', ['email'])">
                                Email is required
                            </span>
                            <span *ngIf="loginForm.hasError('email', ['email'])">
                                Invalid email
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Password</mat-label>                
                        <input type="password" matInput formControlName="password" placeholder="Password">
                        <mat-error>
                            <span *ngIf="loginForm.hasError( 'required', ['password'] )">
                                Password is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <div class="row">
                        <div class="col-lg-6 text-center text-lg-left">
                            <mat-checkbox formControlName="remember_me">Remember me</mat-checkbox>                            
                        </div>
                        <div class="col-lg-6 text-center text-lg-right">
                            <a href="#">Forgot Password</a>                               
                        </div>
                    </div>
                    <div class="invalid-info" *ngIf="valid == false" >
                        Ooops... Something went wrong...
                    </div>
                    <div class="row mt20 mb20">
                        <div class="col pb-md-10">
                            <button mat-raised-button color="primary" class="full-width" (click)="loginForm.valid ? signin() : invalid()">Login</button>
                        </div>
                        <div class="col">
                            <button mat-raised-button class="full-width" routerLink="/user/signup">Signup</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>
