$width-sm: 767px;
$width-md: 991px;
$width-lg: 1199px;

$colors: (
    'dark': #43425D,
    'blue': #0099FF,
    'gray': #595959,
    'green': #15a789,
    'red': red
);

$text-color-primary: map-get($colors, 'dark');
$text-color-primary--lighter: lighten($text-color-primary, 20%);
$text-color-red: map-get($colors, 'red');

$color-blue: map-get($colors, 'blue');
$color-blue--lighter: lighten($color-blue, 20%);
$color-gray: map-get($colors, 'gray');
$color-gray--lighter: lighten($color-gray, 20%);
$color-gray--lightest: lighten($color-gray--lighter, 20%);
$color-green: map-get($colors, 'green');