@media only screen and (max-width: 991px) {
  .width-100p-md {
    width: 100%; } }

/* MARGINS */
@media only screen and (max-width: 991px) {
  .mt-md05 {
    margin-top: 05px !important; }

  .mt-md-05 {
    margin-top: -05px !important; }

  .mb-mb05 {
    margin-bottom: 05px !important; }

  .mb-mb-05 {
    margin-bottom: -05px !important; }

  .ml-md05 {
    margin-left: 05px !important; }

  .ml-md-05 {
    margin-left: -05px !important; }

  .mr-md05 {
    margin-right: 05px !important; }

  .mr-md-05 {
    margin-right: -05px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg05 {
    margin-top: 05px !important; }

  .mt-lg-05 {
    margin-top: -05px !important; }

  .mb-lg05 {
    margin-bottom: 05px !important; }

  .mb-mb-05 {
    margin-bottom: -05px !important; }

  .ml-lg05 {
    margin-left: 05px !important; }

  .ml-lg-05 {
    margin-left: -05px !important; }

  .mr-lg05 {
    margin-right: 05px !important; }

  .mr-lg-05 {
    margin-right: -05px !important; } }
.mt05 {
  margin-top: 05px; }

.mt-05 {
  margin-top: -05px; }

.mb05 {
  margin-bottom: 05px; }

.mb-05 {
  margin-bottom: -05px; }

.ml05 {
  margin-left: 05px; }

.ml-05 {
  margin-left: -05px; }

.mr05 {
  margin-right: 05px; }

.mr-05 {
  margin-right: -05px; }

@media only screen and (max-width: 991px) {
  .mt-md10 {
    margin-top: 10px !important; }

  .mt-md-10 {
    margin-top: -10px !important; }

  .mb-mb10 {
    margin-bottom: 10px !important; }

  .mb-mb-10 {
    margin-bottom: -10px !important; }

  .ml-md10 {
    margin-left: 10px !important; }

  .ml-md-10 {
    margin-left: -10px !important; }

  .mr-md10 {
    margin-right: 10px !important; }

  .mr-md-10 {
    margin-right: -10px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg10 {
    margin-top: 10px !important; }

  .mt-lg-10 {
    margin-top: -10px !important; }

  .mb-lg10 {
    margin-bottom: 10px !important; }

  .mb-mb-10 {
    margin-bottom: -10px !important; }

  .ml-lg10 {
    margin-left: 10px !important; }

  .ml-lg-10 {
    margin-left: -10px !important; }

  .mr-lg10 {
    margin-right: 10px !important; }

  .mr-lg-10 {
    margin-right: -10px !important; } }
.mt10 {
  margin-top: 10px; }

.mt-10 {
  margin-top: -10px; }

.mb10 {
  margin-bottom: 10px; }

.mb-10 {
  margin-bottom: -10px; }

.ml10 {
  margin-left: 10px; }

.ml-10 {
  margin-left: -10px; }

.mr10 {
  margin-right: 10px; }

.mr-10 {
  margin-right: -10px; }

@media only screen and (max-width: 991px) {
  .mt-md15 {
    margin-top: 15px !important; }

  .mt-md-15 {
    margin-top: -15px !important; }

  .mb-mb15 {
    margin-bottom: 15px !important; }

  .mb-mb-15 {
    margin-bottom: -15px !important; }

  .ml-md15 {
    margin-left: 15px !important; }

  .ml-md-15 {
    margin-left: -15px !important; }

  .mr-md15 {
    margin-right: 15px !important; }

  .mr-md-15 {
    margin-right: -15px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg15 {
    margin-top: 15px !important; }

  .mt-lg-15 {
    margin-top: -15px !important; }

  .mb-lg15 {
    margin-bottom: 15px !important; }

  .mb-mb-15 {
    margin-bottom: -15px !important; }

  .ml-lg15 {
    margin-left: 15px !important; }

  .ml-lg-15 {
    margin-left: -15px !important; }

  .mr-lg15 {
    margin-right: 15px !important; }

  .mr-lg-15 {
    margin-right: -15px !important; } }
.mt15 {
  margin-top: 15px; }

.mt-15 {
  margin-top: -15px; }

.mb15 {
  margin-bottom: 15px; }

.mb-15 {
  margin-bottom: -15px; }

.ml15 {
  margin-left: 15px; }

.ml-15 {
  margin-left: -15px; }

.mr15 {
  margin-right: 15px; }

.mr-15 {
  margin-right: -15px; }

@media only screen and (max-width: 991px) {
  .mt-md20 {
    margin-top: 20px !important; }

  .mt-md-20 {
    margin-top: -20px !important; }

  .mb-mb20 {
    margin-bottom: 20px !important; }

  .mb-mb-20 {
    margin-bottom: -20px !important; }

  .ml-md20 {
    margin-left: 20px !important; }

  .ml-md-20 {
    margin-left: -20px !important; }

  .mr-md20 {
    margin-right: 20px !important; }

  .mr-md-20 {
    margin-right: -20px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg20 {
    margin-top: 20px !important; }

  .mt-lg-20 {
    margin-top: -20px !important; }

  .mb-lg20 {
    margin-bottom: 20px !important; }

  .mb-mb-20 {
    margin-bottom: -20px !important; }

  .ml-lg20 {
    margin-left: 20px !important; }

  .ml-lg-20 {
    margin-left: -20px !important; }

  .mr-lg20 {
    margin-right: 20px !important; }

  .mr-lg-20 {
    margin-right: -20px !important; } }
.mt20 {
  margin-top: 20px; }

.mt-20 {
  margin-top: -20px; }

.mb20 {
  margin-bottom: 20px; }

.mb-20 {
  margin-bottom: -20px; }

.ml20 {
  margin-left: 20px; }

.ml-20 {
  margin-left: -20px; }

.mr20 {
  margin-right: 20px; }

.mr-20 {
  margin-right: -20px; }

@media only screen and (max-width: 991px) {
  .mt-md25 {
    margin-top: 25px !important; }

  .mt-md-25 {
    margin-top: -25px !important; }

  .mb-mb25 {
    margin-bottom: 25px !important; }

  .mb-mb-25 {
    margin-bottom: -25px !important; }

  .ml-md25 {
    margin-left: 25px !important; }

  .ml-md-25 {
    margin-left: -25px !important; }

  .mr-md25 {
    margin-right: 25px !important; }

  .mr-md-25 {
    margin-right: -25px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg25 {
    margin-top: 25px !important; }

  .mt-lg-25 {
    margin-top: -25px !important; }

  .mb-lg25 {
    margin-bottom: 25px !important; }

  .mb-mb-25 {
    margin-bottom: -25px !important; }

  .ml-lg25 {
    margin-left: 25px !important; }

  .ml-lg-25 {
    margin-left: -25px !important; }

  .mr-lg25 {
    margin-right: 25px !important; }

  .mr-lg-25 {
    margin-right: -25px !important; } }
.mt25 {
  margin-top: 25px; }

.mt-25 {
  margin-top: -25px; }

.mb25 {
  margin-bottom: 25px; }

.mb-25 {
  margin-bottom: -25px; }

.ml25 {
  margin-left: 25px; }

.ml-25 {
  margin-left: -25px; }

.mr25 {
  margin-right: 25px; }

.mr-25 {
  margin-right: -25px; }

@media only screen and (max-width: 991px) {
  .mt-md30 {
    margin-top: 30px !important; }

  .mt-md-30 {
    margin-top: -30px !important; }

  .mb-mb30 {
    margin-bottom: 30px !important; }

  .mb-mb-30 {
    margin-bottom: -30px !important; }

  .ml-md30 {
    margin-left: 30px !important; }

  .ml-md-30 {
    margin-left: -30px !important; }

  .mr-md30 {
    margin-right: 30px !important; }

  .mr-md-30 {
    margin-right: -30px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg30 {
    margin-top: 30px !important; }

  .mt-lg-30 {
    margin-top: -30px !important; }

  .mb-lg30 {
    margin-bottom: 30px !important; }

  .mb-mb-30 {
    margin-bottom: -30px !important; }

  .ml-lg30 {
    margin-left: 30px !important; }

  .ml-lg-30 {
    margin-left: -30px !important; }

  .mr-lg30 {
    margin-right: 30px !important; }

  .mr-lg-30 {
    margin-right: -30px !important; } }
.mt30 {
  margin-top: 30px; }

.mt-30 {
  margin-top: -30px; }

.mb30 {
  margin-bottom: 30px; }

.mb-30 {
  margin-bottom: -30px; }

.ml30 {
  margin-left: 30px; }

.ml-30 {
  margin-left: -30px; }

.mr30 {
  margin-right: 30px; }

.mr-30 {
  margin-right: -30px; }

@media only screen and (max-width: 991px) {
  .mt-md35 {
    margin-top: 35px !important; }

  .mt-md-35 {
    margin-top: -35px !important; }

  .mb-mb35 {
    margin-bottom: 35px !important; }

  .mb-mb-35 {
    margin-bottom: -35px !important; }

  .ml-md35 {
    margin-left: 35px !important; }

  .ml-md-35 {
    margin-left: -35px !important; }

  .mr-md35 {
    margin-right: 35px !important; }

  .mr-md-35 {
    margin-right: -35px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg35 {
    margin-top: 35px !important; }

  .mt-lg-35 {
    margin-top: -35px !important; }

  .mb-lg35 {
    margin-bottom: 35px !important; }

  .mb-mb-35 {
    margin-bottom: -35px !important; }

  .ml-lg35 {
    margin-left: 35px !important; }

  .ml-lg-35 {
    margin-left: -35px !important; }

  .mr-lg35 {
    margin-right: 35px !important; }

  .mr-lg-35 {
    margin-right: -35px !important; } }
.mt35 {
  margin-top: 35px; }

.mt-35 {
  margin-top: -35px; }

.mb35 {
  margin-bottom: 35px; }

.mb-35 {
  margin-bottom: -35px; }

.ml35 {
  margin-left: 35px; }

.ml-35 {
  margin-left: -35px; }

.mr35 {
  margin-right: 35px; }

.mr-35 {
  margin-right: -35px; }

@media only screen and (max-width: 991px) {
  .mt-md40 {
    margin-top: 40px !important; }

  .mt-md-40 {
    margin-top: -40px !important; }

  .mb-mb40 {
    margin-bottom: 40px !important; }

  .mb-mb-40 {
    margin-bottom: -40px !important; }

  .ml-md40 {
    margin-left: 40px !important; }

  .ml-md-40 {
    margin-left: -40px !important; }

  .mr-md40 {
    margin-right: 40px !important; }

  .mr-md-40 {
    margin-right: -40px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg40 {
    margin-top: 40px !important; }

  .mt-lg-40 {
    margin-top: -40px !important; }

  .mb-lg40 {
    margin-bottom: 40px !important; }

  .mb-mb-40 {
    margin-bottom: -40px !important; }

  .ml-lg40 {
    margin-left: 40px !important; }

  .ml-lg-40 {
    margin-left: -40px !important; }

  .mr-lg40 {
    margin-right: 40px !important; }

  .mr-lg-40 {
    margin-right: -40px !important; } }
.mt40 {
  margin-top: 40px; }

.mt-40 {
  margin-top: -40px; }

.mb40 {
  margin-bottom: 40px; }

.mb-40 {
  margin-bottom: -40px; }

.ml40 {
  margin-left: 40px; }

.ml-40 {
  margin-left: -40px; }

.mr40 {
  margin-right: 40px; }

.mr-40 {
  margin-right: -40px; }

@media only screen and (max-width: 991px) {
  .mt-md45 {
    margin-top: 45px !important; }

  .mt-md-45 {
    margin-top: -45px !important; }

  .mb-mb45 {
    margin-bottom: 45px !important; }

  .mb-mb-45 {
    margin-bottom: -45px !important; }

  .ml-md45 {
    margin-left: 45px !important; }

  .ml-md-45 {
    margin-left: -45px !important; }

  .mr-md45 {
    margin-right: 45px !important; }

  .mr-md-45 {
    margin-right: -45px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg45 {
    margin-top: 45px !important; }

  .mt-lg-45 {
    margin-top: -45px !important; }

  .mb-lg45 {
    margin-bottom: 45px !important; }

  .mb-mb-45 {
    margin-bottom: -45px !important; }

  .ml-lg45 {
    margin-left: 45px !important; }

  .ml-lg-45 {
    margin-left: -45px !important; }

  .mr-lg45 {
    margin-right: 45px !important; }

  .mr-lg-45 {
    margin-right: -45px !important; } }
.mt45 {
  margin-top: 45px; }

.mt-45 {
  margin-top: -45px; }

.mb45 {
  margin-bottom: 45px; }

.mb-45 {
  margin-bottom: -45px; }

.ml45 {
  margin-left: 45px; }

.ml-45 {
  margin-left: -45px; }

.mr45 {
  margin-right: 45px; }

.mr-45 {
  margin-right: -45px; }

@media only screen and (max-width: 991px) {
  .mt-md50 {
    margin-top: 50px !important; }

  .mt-md-50 {
    margin-top: -50px !important; }

  .mb-mb50 {
    margin-bottom: 50px !important; }

  .mb-mb-50 {
    margin-bottom: -50px !important; }

  .ml-md50 {
    margin-left: 50px !important; }

  .ml-md-50 {
    margin-left: -50px !important; }

  .mr-md50 {
    margin-right: 50px !important; }

  .mr-md-50 {
    margin-right: -50px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg50 {
    margin-top: 50px !important; }

  .mt-lg-50 {
    margin-top: -50px !important; }

  .mb-lg50 {
    margin-bottom: 50px !important; }

  .mb-mb-50 {
    margin-bottom: -50px !important; }

  .ml-lg50 {
    margin-left: 50px !important; }

  .ml-lg-50 {
    margin-left: -50px !important; }

  .mr-lg50 {
    margin-right: 50px !important; }

  .mr-lg-50 {
    margin-right: -50px !important; } }
.mt50 {
  margin-top: 50px; }

.mt-50 {
  margin-top: -50px; }

.mb50 {
  margin-bottom: 50px; }

.mb-50 {
  margin-bottom: -50px; }

.ml50 {
  margin-left: 50px; }

.ml-50 {
  margin-left: -50px; }

.mr50 {
  margin-right: 50px; }

.mr-50 {
  margin-right: -50px; }

@media only screen and (max-width: 991px) {
  .mt-md100 {
    margin-top: 100px !important; }

  .mt-md-100 {
    margin-top: -100px !important; }

  .mb-mb100 {
    margin-bottom: 100px !important; }

  .mb-mb-100 {
    margin-bottom: -100px !important; }

  .ml-md100 {
    margin-left: 100px !important; }

  .ml-md-100 {
    margin-left: -100px !important; }

  .mr-md100 {
    margin-right: 100px !important; }

  .mr-md-100 {
    margin-right: -100px !important; } }
@media only screen and (min-width: 992px) {
  .mt-lg100 {
    margin-top: 100px !important; }

  .mt-lg-100 {
    margin-top: -100px !important; }

  .mb-lg100 {
    margin-bottom: 100px !important; }

  .mb-mb-100 {
    margin-bottom: -100px !important; }

  .ml-lg100 {
    margin-left: 100px !important; }

  .ml-lg-100 {
    margin-left: -100px !important; }

  .mr-lg100 {
    margin-right: 100px !important; }

  .mr-lg-100 {
    margin-right: -100px !important; } }
.mt100 {
  margin-top: 100px; }

.mt-100 {
  margin-top: -100px; }

.mb100 {
  margin-bottom: 100px; }

.mb-100 {
  margin-bottom: -100px; }

.ml100 {
  margin-left: 100px; }

.ml-100 {
  margin-left: -100px; }

.mr100 {
  margin-right: 100px; }

.mr-100 {
  margin-right: -100px; }

/* PADDINGS */
.pl-1 {
  padding-left: 1px; }

.pr-1 {
  padding-right: 1px; }

.pt-1 {
  padding-top: 1px; }

.pb-1 {
  padding-bottom: 1px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-1 {
  padding: 1px; }

@media only screen and (max-width: 991px) {
  .pl-md-1 {
    padding-left: 1px; }

  .pr-md-1 {
    padding-right: 1px; }

  .pt-md-1 {
    padding-top: 1px; }

  .pb-md-1 {
    padding-bottom: 1px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-1 {
    padding: 1px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-1 {
    padding-left: 1px; }

  .pr-lg-1 {
    padding-right: 1px; }

  .pt-lg-1 {
    padding-top: 1px; }

  .pb-lg-1 {
    padding-bottom: 1px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-1 {
    padding: 1px; } }
.pl-2 {
  padding-left: 2px; }

.pr-2 {
  padding-right: 2px; }

.pt-2 {
  padding-top: 2px; }

.pb-2 {
  padding-bottom: 2px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-2 {
  padding: 2px; }

@media only screen and (max-width: 991px) {
  .pl-md-2 {
    padding-left: 2px; }

  .pr-md-2 {
    padding-right: 2px; }

  .pt-md-2 {
    padding-top: 2px; }

  .pb-md-2 {
    padding-bottom: 2px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-2 {
    padding: 2px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-2 {
    padding-left: 2px; }

  .pr-lg-2 {
    padding-right: 2px; }

  .pt-lg-2 {
    padding-top: 2px; }

  .pb-lg-2 {
    padding-bottom: 2px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-2 {
    padding: 2px; } }
.pl-3 {
  padding-left: 3px; }

.pr-3 {
  padding-right: 3px; }

.pt-3 {
  padding-top: 3px; }

.pb-3 {
  padding-bottom: 3px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-3 {
  padding: 3px; }

@media only screen and (max-width: 991px) {
  .pl-md-3 {
    padding-left: 3px; }

  .pr-md-3 {
    padding-right: 3px; }

  .pt-md-3 {
    padding-top: 3px; }

  .pb-md-3 {
    padding-bottom: 3px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-3 {
    padding: 3px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-3 {
    padding-left: 3px; }

  .pr-lg-3 {
    padding-right: 3px; }

  .pt-lg-3 {
    padding-top: 3px; }

  .pb-lg-3 {
    padding-bottom: 3px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-3 {
    padding: 3px; } }
.pl-4 {
  padding-left: 4px; }

.pr-4 {
  padding-right: 4px; }

.pt-4 {
  padding-top: 4px; }

.pb-4 {
  padding-bottom: 4px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-4 {
  padding: 4px; }

@media only screen and (max-width: 991px) {
  .pl-md-4 {
    padding-left: 4px; }

  .pr-md-4 {
    padding-right: 4px; }

  .pt-md-4 {
    padding-top: 4px; }

  .pb-md-4 {
    padding-bottom: 4px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-4 {
    padding: 4px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-4 {
    padding-left: 4px; }

  .pr-lg-4 {
    padding-right: 4px; }

  .pt-lg-4 {
    padding-top: 4px; }

  .pb-lg-4 {
    padding-bottom: 4px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-4 {
    padding: 4px; } }
.pl-5 {
  padding-left: 5px; }

.pr-5 {
  padding-right: 5px; }

.pt-5 {
  padding-top: 5px; }

.pb-5 {
  padding-bottom: 5px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-5 {
  padding: 5px; }

@media only screen and (max-width: 991px) {
  .pl-md-5 {
    padding-left: 5px; }

  .pr-md-5 {
    padding-right: 5px; }

  .pt-md-5 {
    padding-top: 5px; }

  .pb-md-5 {
    padding-bottom: 5px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-5 {
    padding: 5px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-5 {
    padding-left: 5px; }

  .pr-lg-5 {
    padding-right: 5px; }

  .pt-lg-5 {
    padding-top: 5px; }

  .pb-lg-5 {
    padding-bottom: 5px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-5 {
    padding: 5px; } }
.pl-10 {
  padding-left: 10px; }

.pr-10 {
  padding-right: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-10 {
  padding: 10px; }

@media only screen and (max-width: 991px) {
  .pl-md-10 {
    padding-left: 10px; }

  .pr-md-10 {
    padding-right: 10px; }

  .pt-md-10 {
    padding-top: 10px; }

  .pb-md-10 {
    padding-bottom: 10px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-10 {
    padding: 10px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-10 {
    padding-left: 10px; }

  .pr-lg-10 {
    padding-right: 10px; }

  .pt-lg-10 {
    padding-top: 10px; }

  .pb-lg-10 {
    padding-bottom: 10px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-10 {
    padding: 10px; } }
.pl-15 {
  padding-left: 15px; }

.pr-15 {
  padding-right: 15px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-15 {
  padding: 15px; }

@media only screen and (max-width: 991px) {
  .pl-md-15 {
    padding-left: 15px; }

  .pr-md-15 {
    padding-right: 15px; }

  .pt-md-15 {
    padding-top: 15px; }

  .pb-md-15 {
    padding-bottom: 15px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-15 {
    padding: 15px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-15 {
    padding-left: 15px; }

  .pr-lg-15 {
    padding-right: 15px; }

  .pt-lg-15 {
    padding-top: 15px; }

  .pb-lg-15 {
    padding-bottom: 15px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-15 {
    padding: 15px; } }
.pl-20 {
  padding-left: 20px; }

.pr-20 {
  padding-right: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-20 {
  padding: 20px; }

@media only screen and (max-width: 991px) {
  .pl-md-20 {
    padding-left: 20px; }

  .pr-md-20 {
    padding-right: 20px; }

  .pt-md-20 {
    padding-top: 20px; }

  .pb-md-20 {
    padding-bottom: 20px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-20 {
    padding: 20px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-20 {
    padding-left: 20px; }

  .pr-lg-20 {
    padding-right: 20px; }

  .pt-lg-20 {
    padding-top: 20px; }

  .pb-lg-20 {
    padding-bottom: 20px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-20 {
    padding: 20px; } }
.pl-25 {
  padding-left: 25px; }

.pr-25 {
  padding-right: 25px; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-25 {
  padding: 25px; }

@media only screen and (max-width: 991px) {
  .pl-md-25 {
    padding-left: 25px; }

  .pr-md-25 {
    padding-right: 25px; }

  .pt-md-25 {
    padding-top: 25px; }

  .pb-md-25 {
    padding-bottom: 25px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-25 {
    padding: 25px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-25 {
    padding-left: 25px; }

  .pr-lg-25 {
    padding-right: 25px; }

  .pt-lg-25 {
    padding-top: 25px; }

  .pb-lg-25 {
    padding-bottom: 25px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-25 {
    padding: 25px; } }
.pl-30 {
  padding-left: 30px; }

.pr-30 {
  padding-right: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-30 {
  padding: 30px; }

@media only screen and (max-width: 991px) {
  .pl-md-30 {
    padding-left: 30px; }

  .pr-md-30 {
    padding-right: 30px; }

  .pt-md-30 {
    padding-top: 30px; }

  .pb-md-30 {
    padding-bottom: 30px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-30 {
    padding: 30px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-30 {
    padding-left: 30px; }

  .pr-lg-30 {
    padding-right: 30px; }

  .pt-lg-30 {
    padding-top: 30px; }

  .pb-lg-30 {
    padding-bottom: 30px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-30 {
    padding: 30px; } }
.pl-35 {
  padding-left: 35px; }

.pr-35 {
  padding-right: 35px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-35 {
  padding: 35px; }

@media only screen and (max-width: 991px) {
  .pl-md-35 {
    padding-left: 35px; }

  .pr-md-35 {
    padding-right: 35px; }

  .pt-md-35 {
    padding-top: 35px; }

  .pb-md-35 {
    padding-bottom: 35px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-35 {
    padding: 35px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-35 {
    padding-left: 35px; }

  .pr-lg-35 {
    padding-right: 35px; }

  .pt-lg-35 {
    padding-top: 35px; }

  .pb-lg-35 {
    padding-bottom: 35px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-35 {
    padding: 35px; } }
.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-40 {
  padding: 40px; }

@media only screen and (max-width: 991px) {
  .pl-md-40 {
    padding-left: 40px; }

  .pr-md-40 {
    padding-right: 40px; }

  .pt-md-40 {
    padding-top: 40px; }

  .pb-md-40 {
    padding-bottom: 40px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-40 {
    padding: 40px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-40 {
    padding-left: 40px; }

  .pr-lg-40 {
    padding-right: 40px; }

  .pt-lg-40 {
    padding-top: 40px; }

  .pb-lg-40 {
    padding-bottom: 40px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-40 {
    padding: 40px; } }
.pl-45 {
  padding-left: 45px; }

.pr-45 {
  padding-right: 45px; }

.pt-45 {
  padding-top: 45px; }

.pb-45 {
  padding-bottom: 45px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-45 {
  padding: 45px; }

@media only screen and (max-width: 991px) {
  .pl-md-45 {
    padding-left: 45px; }

  .pr-md-45 {
    padding-right: 45px; }

  .pt-md-45 {
    padding-top: 45px; }

  .pb-md-45 {
    padding-bottom: 45px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-45 {
    padding: 45px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-45 {
    padding-left: 45px; }

  .pr-lg-45 {
    padding-right: 45px; }

  .pt-lg-45 {
    padding-top: 45px; }

  .pb-lg-45 {
    padding-bottom: 45px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-45 {
    padding: 45px; } }
.pl-50 {
  padding-left: 50px; }

.pr-50 {
  padding-right: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

/* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
.pg-50 {
  padding: 50px; }

@media only screen and (max-width: 991px) {
  .pl-md-50 {
    padding-left: 50px; }

  .pr-md-50 {
    padding-right: 50px; }

  .pt-md-50 {
    padding-top: 50px; }

  .pb-md-50 {
    padding-bottom: 50px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-md-50 {
    padding: 50px; } }
@media only screen and (min-width: 992px) {
  .pl-lg-50 {
    padding-left: 50px; }

  .pr-lg-50 {
    padding-right: 50px; }

  .pt-lg-50 {
    padding-top: 50px; }

  .pb-lg-50 {
    padding-bottom: 50px; }

  /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
  .pg-lg-50 {
    padding: 50px; } }
/* TEXT SIZES */
.text-size-x-small {
  font-size: 0.375rem; }

.text-size-small {
  font-size: 0.625rem; }

.text-size-medium {
  font-size: 0.875rem; }

.text-size-large {
  font-size: 1.125rem; }

.text-size-x-large {
  font-size: 1.375rem; }

/* ROTATE */
.rotate180 {
  transform: rotate(180deg); }

/*# sourceMappingURL=helpers.css.map */
