@import './variables';

.width-100p-md{
    @media only screen and (max-width: $width-md){
        width: 100%;
    }
}

/* MARGINS */
$margins: '05' 10 15 20 25 30 35 40 45 50 100;
@each $margin in $margins{    
        
    @media only screen and (max-width: 991px){
        .mt-md#{$margin}{
            margin-top: #{$margin}px !important;
        }
        .mt-md-#{$margin}{
            margin-top: -#{$margin}px !important;
        }
        .mb-mb#{$margin}{
            margin-bottom: #{$margin}px !important;
        }
        .mb-mb-#{$margin}{
            margin-bottom: -#{$margin}px !important;
        }
        .ml-md#{$margin}{
            margin-left: #{$margin}px !important;
        }
        .ml-md-#{$margin}{
            margin-left: -#{$margin}px !important;
        }
        .mr-md#{$margin}{
            margin-right: #{$margin}px !important;
        }
        .mr-md-#{$margin}{
            margin-right: -#{$margin}px !important;
        } 
    }
    
    @media only screen and (min-width: 992px){
        .mt-lg#{$margin}{
            margin-top: #{$margin}px !important;
        }
        .mt-lg-#{$margin}{
            margin-top: -#{$margin}px !important;
        }
        .mb-lg#{$margin}{
            margin-bottom: #{$margin}px !important;
        }
        .mb-mb-#{$margin}{
            margin-bottom: -#{$margin}px !important;
        }
        .ml-lg#{$margin}{
            margin-left: #{$margin}px !important;
        }
        .ml-lg-#{$margin}{
            margin-left: -#{$margin}px !important;
        }
        .mr-lg#{$margin}{
            margin-right: #{$margin}px !important;
        }
        .mr-lg-#{$margin}{
            margin-right: -#{$margin}px !important;
        } 
    }
    
    .mt#{$margin}{
        margin-top: #{$margin}px;
    }
    .mt-#{$margin}{
        margin-top: -#{$margin}px;
    }
    .mb#{$margin}{
        margin-bottom: #{$margin}px;
    }
    .mb-#{$margin}{
        margin-bottom: -#{$margin}px;
    }
    .ml#{$margin}{
        margin-left: #{$margin}px;
    }
    .ml-#{$margin}{
        margin-left: -#{$margin}px;
    }
    .mr#{$margin}{
        margin-right: #{$margin}px;
    }
    .mr-#{$margin}{
        margin-right: -#{$margin}px;
    }
}

/* PADDINGS */
$paddings: 1 2 3 4 5 10 15 20 25 30 35 40 45 50;
@each $padding in $paddings{
    .pl-#{$padding}{
        padding-left: #{$padding}px;
    }
    .pr-#{$padding}{
        padding-right: #{$padding}px;
    }
    .pt-#{$padding}{
        padding-top: #{$padding}px;
    }
    .pb-#{$padding}{
        padding-bottom: #{$padding}px;
    }
    /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
    .pg-#{$padding}{
        padding: #{$padding}px;
    }
    
    @media only screen and (max-width: 991px){
        .pl-md-#{$padding}{
            padding-left: #{$padding}px;
        }
        .pr-md-#{$padding}{
            padding-right: #{$padding}px;
        }
        .pt-md-#{$padding}{
            padding-top: #{$padding}px;
        }
        .pb-md-#{$padding}{
            padding-bottom: #{$padding}px;
        }
        /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
        .pg-md-#{$padding}{
            padding: #{$padding}px;
        }
    }
    
    @media only screen and (min-width: 992px){
        .pl-lg-#{$padding}{
            padding-left: #{$padding}px;
        }
        .pr-lg-#{$padding}{
            padding-right: #{$padding}px;
        }
        .pt-lg-#{$padding}{
            padding-top: #{$padding}px;
        }
        .pb-lg-#{$padding}{
            padding-bottom: #{$padding}px;
        }
        /* p-1, p-2 are reserved names, so i used "pg" like "Padding general" */
        .pg-lg-#{$padding}{
            padding: #{$padding}px;
        }
    }
    
}

/* TEXT SIZES */
$text-sizes: (
    'x-small': '0.375rem',
    'small': '0.625rem',
    'medium': '0.875rem',
    'large': '1.125rem',
    'x-large': '1.375rem',
);
@each $size, $value in $text-sizes{
    .text-size-#{$size}{
        font-size: #{$value};
    }
}
/* ROTATE */
.rotate180{
    transform: rotate(180deg);
}