@import './variables';
@import './helpers';
@import './theme';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
body{
   font-family: 'Open Sans', sans-serif;
   background-color: #F7F8FB;
   margin: 0; 
   color: $text-color-primary;
   
   @media only screen and (max-width: 991px){
       padding-bottom: 50px;
       padding-top: 60px;
   }
}

h1{
    font-size: 2.125rem;
}

$text-sizes: (
    'small': '0.75rem',
);

@each $size-name, $value in $text-sizes{
    .text-size-#{$size-name}{
        font-size: #{$value};
    }
}

button{
    background-color: transparent;
    border: none;
    
    &:focus{
        outline: none;
    }
}

a{
    color: $text-color-primary;
    
    &:hover{
        text-decoration: none;
        color: $text-color-primary--lighter; 
    }
}

.text-color-gray{
    color: $text-color-primary--lighter;
}

.text-color-red{
    color: $text-color-red;
}

.full-width{
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

/** MATERIAL **/
mat-form-field{
    &.white{
        .mat-form-field-underline{
            background-color: white;
        }
        
        label{
            color: white !important;
        }

    }
}

mat-checkbox{
    .mat-checkbox-label{
        
        max-width: 80vw;
        white-space: pre-line;
    }
}

.mat-raised-button{
    border-radius: 5px !important;
    padding: 5px 50px !important;
    
    &.right-icon{
        padding-right: 20px !important;
    }
    
    &.left-icon{
        padding-left: 20px !important;
    }
    
    &.mat-green{
        background-color: $color-green;
        color: white;
    }
}

.input-right-mat-spinner{
    position: absolute !important;
    top: 0; right: 0;
}