@import '../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$movox-palette-blue: (
    50 : #e0f3ff,
    100 : #b3e0ff,
    200 : #80ccff,
    300 : #4db8ff,
    400 : #26a8ff,
    500 : #0099ff,
    600 : #0091ff,
    700 : #0086ff,
    800 : #007cff,
    900 : #006bff,
    A100 : #ffffff,
    A200 : #f2f7ff,
    A400 : #bfd6ff,
    A700 : #a6c6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$movox-palette-orange: (
    50 : #fff3e0,
    100 : #ffe0b3,
    200 : #ffcc80,
    300 : #ffb84d,
    400 : #ffa826,
    500 : #ff9900,
    600 : #ff9100,
    700 : #ff8600,
    800 : #ff7c00,
    900 : #ff6b00,
    A100 : #ffffff,
    A200 : #fff7f2,
    A400 : #ffd6bf,
    A700 : #ffc6a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$movox-palette-red: (
    50 : #f9e0e4,
    100 : #f0b3bd,
    200 : #e68091,
    300 : #db4d64,
    400 : #d42643,
    500 : #cc0022,
    600 : #c7001e,
    700 : #c00019,
    800 : #b90014,
    900 : #ad000c,
    A100 : #ffd7d8,
    A200 : #ffa4a6,
    A400 : #ff7175,
    A700 : #ff585c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$movox-palette-green: (
     50 : #e3f4f1,
    100 : #b9e5dc,
    200 : #8ad3c4,
    300 : #5bc1ac,
    400 : #38b49b,
    500 : #15a789,
    600 : #129f81,
    700 : #0f9676,
    800 : #0c8c6c,
    900 : #067c59,
    A100 : #aaffe3,
    A200 : #77ffd2,
    A400 : #44ffc1,
    A700 : #2bffb8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movox-app-primary: mat-palette($movox-palette-blue, 500, 200, 800);
$movox-app-accent:  mat-palette($movox-palette-green, 500, 200, 800);
$movox-app-warn:    mat-palette($movox-palette-red, 500, 200, 800);

// Create the theme object (a Sass map containing all of the palettes).
$movox-app-theme: mat-light-theme($movox-app-primary, $movox-app-accent, $movox-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($movox-app-theme);

