.mat-card.mainCard {
  padding: 3rem; }
  @media only screen and (max-width: 991px) {
    .mat-card.mainCard {
      padding: 1rem; } }

.paymentMethodsBlocks mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: pointer;
  height: 150px; }
  .paymentMethodsBlocks mat-card.active {
    background-color: #15a789; }

mat-progress-bar.loader {
  position: absolute;
  top: 0;
  left: 0; }

.select-account-type {
  border: 1px solid #bfbfbf;
  border-radius: 3px; }
  @media only screen and (min-width: 1199px) {
    .select-account-type {
      display: flex; } }
  .select-account-type div {
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media only screen and (max-width: 991px) {
      .select-account-type div {
        width: 100%; } }
    @media only screen and (min-width: 1199px) {
      .select-account-type div:not(:last-child) {
        border-right: 1px solid #bfbfbf; } }
    .select-account-type div.active {
      background-color: #15a789;
      color: white;
      border-right: 1px solid #15a789; }

.id-verification .document {
  margin-top: 20px;
  display: flex;
  flex: 0 0 100%; }
  .id-verification .document .img {
    display: flex;
    align-items: center;
    width: 70px; }
  .id-verification .document .document-progress {
    flex: 1 1 auto; }
    .id-verification .document .document-progress .document-name {
      float: left;
      width: 100%;
      overflow-x: hidden; }
    .id-verification .document .document-progress mat-progress-bar {
      float: left;
      width: 100%; }
    .id-verification .document .document-progress .status {
      float: left;
      width: 100%;
      font-size: 0.875rem;
      color: #8c8c8c; }
  .id-verification .document .file-size {
    padding-left: 10px;
    color: #8c8c8c;
    display: flex;
    align-items: center;
    width: 50px; }
  .id-verification .document .cancel {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 1.25rem;
    color: #8c8c8c;
    font-weight: bold;
    cursor: pointer; }
    .id-verification .document .cancel:hover {
      color: #0d0d0d; }
  .id-verification .document .file-input {
    flex: 1 1 auto;
    align-items: center; }
    .id-verification .document .file-input input {
      border-radius: 0px; }

.directors-list {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }
  .directors-list mat-icon {
    cursor: pointer; }

/*# sourceMappingURL=signup.component.css.map */
