<section class="mt-md10 mt-lg100">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{stepTitle}}</h1>
            </div>
        </div>
    </div>
</section>

<mat-card class="mainCard">
    <mat-progress-bar *ngIf="inProgress" class="loader" mode="indeterminate"></mat-progress-bar>

    <!-- STEP 1 -->
    <div class="container" *ngIf="isStep('acknowledgements')">
        <div class="row mt20">
            <div class="col text-center">
                <p class="text-color-gray">By signing and submitting this application you acknowledge that:</p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2">
                <p>1. MOVOX means MOVOX Pty Ltd (ABN 32 602 123 491) who is the supplier of services;</p>
                <p>2. I am the Customer (or a director, partner, or employee of the Customer) and duly authorised to create an account with MOVOX; and</p>
                <p>3. I understand that MOVOX may obtain personal information from a credit reporting agency or identity verification system to assess this application and maintenance of my/our MOVOX account.</p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-6 offset-lg-3">
                <form [formGroup]="form">
                    <mat-checkbox formControlName="accept_customer_terms">
                        I have read and agree to MOVOX’s Customer Terms
                    </mat-checkbox>
                </form>
            </div>
        </div>
        <div class="row mt20 mb20">
            <div class="col text-center">
                <button mat-raised-button color="primary" [disabled]="!signupData.accept_customer_terms" (click)="nextStep()">Start Sign Up</button>
            </div>
        </div>
    </div>

    <!-- STEP AUTH DATA -->
    <div class="container" *ngIf="isStep('auth_data')">
        <form [formGroup]="form">
            <div class="row mt20">
                <div class="col-lg-4 offset-lg-4">
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" placeholder="Email Address">
                            <mat-error>
                                <span *ngIf="form.hasError('required', ['email'])">
                                    Email is required
                                </span>
                                <span *ngIf="form.hasError('email', ['email'])">
                                    Invalid email
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="legacy">
                            <mat-label>Password</mat-label>
                            <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Password">
                            <mat-icon class="cursor-pointer" matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error>
                                <span *ngIf="form.hasError('required', ['password'])">
                                    Password is required
                                </span>
                                <span *ngIf="form.hasError('minlength', ['password'])">
                                    Minimun length is {{form.controls.password.errors.minlength.requiredLength}}
                                </span>
                            </mat-error>
                        </mat-form-field>
                        <div class="row mt20">
                            <div class="col">
                                <div class="select-account-type">
                                    <div *ngFor="let type of accountTypes | keyvalue" [class.active]="type.key == signupData.account_type" (click)="setAccountType(type.key)">{{type.value}}</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row mt40 mb20">
                <div class="col-lg-6 offset-lg-3">
                    <table>
                        <tr>
                            <td valign="top"><mat-checkbox formControlName="accept_customer_terms"></mat-checkbox></td>
                            <td class="pl-10">
                                By completing your account application agree to our <u><a href="#" target="_blank">Customer Terms</a></u>
                                and <u><a class="cursor-pointer" (click)="openAcknowledgementDialog()">Acknowledgement</a></u>.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mt40 mb20">
                <div class="col text-center">
                    <button mat-raised-button color="primary" [disabled]="!form.valid" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
                </div>
            </div>
            <div class="row mt40">
                <div class="col text-center">
                    Already a Customer? <u><a routerLink="/user/signin">Sign In</a></u>
                </div>
            </div>
       </form>
    </div>


     <!-- STEP CLIENT DATA -->
    <div class="container" *ngIf="isStep('client_data')">
        <div class="row">
            <div class="col text-center text-color-gray">
                Primary contact or authorised account administrator
            </div>
        </div>
        <div class="row mt30">
            <div class="col-lg-4 offset-lg-4">
                <form [formGroup]="form">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Title" formControlName="name_title">
                            <mat-option *ngFor="let title of nameTitles | keyvalue" value="{{title.key}}">{{title.value}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['name_title'])">
                                Title is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="first_name" placeholder="First name">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['first_name'])">
                                First name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="last_name" placeholder="Last name">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['last_name'])">
                                Last name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="this.signupData.account_type !== 'company'" class="full-width" appearance="legacy">
                        <mat-label>Contact number</mat-label>
                        <input matInput formControlName="contact_number" placeholder="Contact number">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['contact_number'])">
                                Contact number name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="this.signupData.account_type == 'company'" class="full-width" appearance="legacy">
                        <mat-label>Mobile number</mat-label>
                        <input matInput formControlName="mobile_number" placeholder="Mobile number">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['mobile_number'])">
                                Mobile number name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput (click)="picker.open()" [matDatepicker]="picker" formControlName="date_of_birth" placeholder="Date of Birth">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['date_of_birth'])">
                                Date of birth is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="signupData.account_type == 'company' && form.valid" class="row mb20">
                        <div class="col">
                            <mat-checkbox [formControl]="formControl">Director of the account entity</mat-checkbox>
                        </div>
                    </div>
                    <div class="row mt20 mb20">
                        <div class="col text-center">
                            <button mat-raised-button class="mr-lg20 left-icon" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                            <button mat-raised-button color="primary" [disabled]="!form.valid" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- STEP ID VERIFICATION -->
    <div class="container" *ngIf="isStep('id_verification')">
        <div class="row">
            <div class="col text-center text-color-gray">
                Choose any two of the following identification methods<br/>
                <u><a href="#">more about ID verification</a></u>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-lg-6 offset-lg-3">
                <div class="id-verification">
                    <div class="document">
                        <div class="img"><img src="/assets/img/drivers-licence.svg" height="40"/></div>
                        <div class="document-progress">
                            <span class="document-name">Scan_Drivers_License.pdf</span>
                            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                            <span class="status">Completed</span>
                        </div>
                        <div class="file-size">7.5MB</div>
                        <div class="cancel"><mat-icon (click)="alert.info('Cancel uploading...')">close</mat-icon></div>
                    </div>
                    <div class="document">
                        <div class="img"><img src="/assets/img/passport.svg" height="40"/></div>
                        <div class="document-progress">
                            <div class="document-name">Passport.jpg</div>
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            <div class="status">Uploading...</div>
                        </div>
                        <div class="file-size">3.0MB</div>
                        <div class="cancel"><mat-icon (click)="alert.info('Cancel uploading...')">close</mat-icon></div>
                    </div>
                    <div class="document">
                        <div class="img"><img src="/assets/img/medicare-card.svg" height="40"/></div>
                        <div class="file-input">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col text-center">
                <button mat-raised-button class="mr-lg20 left-icon" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button color="primary" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

     <!-- STEP CLIENT DATA -->
    <div class="container" *ngIf="isStep('directors_details')">
        <div  *ngIf="this.signupData.directors" class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <h4>Added Directors</h4>
                <table cellpadding="5" class="directors-list">
                    <tr *ngFor="let director of this.signupData.directors; index as i">
                        <td>{{i+1}}.</td>
                        <td align="left">{{nameTitles[director.name_title]}}</td>
                        <td>{{director.first_name}} {{director.last_name}}</td>
                        <td class="d-none d-lg-table-cell">{{director.mobile_number}}</td>
                        <td class="d-none d-lg-table-cell">{{director.date_of_birth | date: 'dd/MM/yyyy'}}</td>
                        <td><mat-icon (click)="deleteDirector(director)">close</mat-icon></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-lg-4 offset-lg-4">
                <form [formGroup]="form">
                    <mat-form-field class="full-width">
                        <mat-select placeholder="Title" formControlName="name_title">
                            <mat-option *ngFor="let title of nameTitles | keyvalue" value="{{title.key}}">{{title.value}}</mat-option>
                        </mat-select>
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['name_title'])">
                                Title is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="first_name" placeholder="First name">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['first_name'])">
                                First name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="last_name" placeholder="Last name">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['last_name'])">
                                Last name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Mobile number</mat-label>
                        <input matInput formControlName="mobile_number" placeholder="Mobile number">
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['mobile_number'])">
                                Mobile number name is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="legacy">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput (click)="picker.open()" [matDatepicker]="picker" formControlName="date_of_birth" placeholder="Date of Birth">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                        <mat-error>
                            <span *ngIf="form.hasError('required', ['date_of_birth'])">
                                Date of birth is required
                            </span>
                        </mat-error>
                    </mat-form-field>
                    <div class="row mt20 mb20">
                        <div class="col text-center">
                            <button mat-raised-button color="green" [disabled]="!this.form.valid" (click)="addDirector(this.form)">Add Director</button>
                        </div>
                    </div>
                    <div class="row mt40 mb20">
                        <div class="col text-center">
                            <button mat-raised-button class="mr-lg20 left-icon" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                            <button mat-raised-button color="primary" [disabled]="!this.signupData.directors" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- STEP ADDRESS -->
    <div class="container" *ngIf="isStep('address')">
        <div class="row mt20">
            <div class="col text-center">
                <p class="text-color-gray">Please enter your street address</p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-4 offset-lg-4">
                <app-address-finder (onCantFindAddress)="cantFindAddress.style.visibility = 'visible'"(onAddressSelect)="onAddressSelect($event)"></app-address-finder>
                <div #cantFindAddress [style.visibility]="'hidden'">Cant find your address? <a class="cursor-pointer" (click)="onCantFindAddress(); cantFindAddress.style.visibility = 'hidden'">Click here</a></div>
            </div>
        </div>
        <form *ngIf="signupData.address" [formGroup]="addressForm" class="mt20">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                           <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Property / PO Box</mat-label>
                                <input matInput formControlName="po_box" placeholder="Property / PO Box">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['po_box'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Unit Number</mat-label>
                                <input matInput formControlName="unit_number" placeholder="Unit Number">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['unit_number'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Number</mat-label>
                                <input matInput formControlName="street_number" placeholder="Street Number">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['street_number'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                           <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Name</mat-label>
                                <input matInput formControlName="street_name" placeholder="Street Name">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['street_name'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Type</mat-label>
                                <input matInput formControlName="street_type" placeholder="Street Type">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['street_type'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Suburb</mat-label>
                                <input matInput formControlName="suburb" placeholder="Suburb">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['suburb'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state" placeholder="State">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['state'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Postcode</mat-label>
                                <input matInput formControlName="postcode" placeholder="Postcode">
                                <mat-error>
                                    <span *ngIf="addressForm.hasError('required', ['postcode'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt20">
                <div class="col text-center">
                    <mat-checkbox [formControl]="formControl">This is my billing and correspondence address</mat-checkbox>
                </div>
            </div>
        </form>
        <form *ngIf="!signupData.correspondence_address_same && signupData.address" [formGroup]="correspondenceAddressForm" class="mt20">            
            <div class="row mt20" *ngIf="!signupData.correspondence_address_same">
                <div class="col-lg-4 offset-lg-4">
                    <app-address-finder [placeholder]="addressFinderPlaceholder" (onAddressSelect)="onCorrespondenceAddressSelect($event)"></app-address-finder>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                           <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Property / PO Box</mat-label>
                                <input matInput formControlName="po_box" placeholder="Property / PO Box">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['po_box'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Unit Number</mat-label>
                                <input matInput formControlName="unit_number" placeholder="Unit Number">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['unit_number'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Number</mat-label>
                                <input matInput formControlName="street_number" placeholder="Street Number">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['street_number'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                           <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Name</mat-label>
                                <input matInput formControlName="street_name" placeholder="Street Name">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['street_name'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Street Type</mat-label>
                                <input matInput formControlName="street_type" placeholder="Street Type">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['street_type'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Suburb</mat-label>
                                <input matInput formControlName="suburb" placeholder="Suburb">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['suburb'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state" placeholder="State">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['state'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Postcode</mat-label>
                                <input matInput formControlName="postcode" placeholder="Postcode">
                                <mat-error>
                                    <span *ngIf="correspondenceAddressForm.hasError('required', ['postcode'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row mt20">
            <div class="col text-center">
                <button mat-raised-button class="mr-lg20 left-icon" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button color="primary" [disabled]="!correspondenceAddressForm.valid || !addressForm.valid" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

    <!-- STEP ABN -->
    <div class="container" *ngIf="isStep('abn')">
        <div class="row mt20">
            <div class="col text-center">
                <p class="text-color-gray">
                  Your account will be created in the name of the following entity<br/>

                </p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-6 offset-lg-3">
                <app-abn-finder (result)="abnResponse($event)" [value]="signupData.abn"></app-abn-finder>
            </div>
        </div>
        <div class="row mt20">
            <div class="col text-center">
                <button mat-raised-button class="mr-lg20 left-icon mb-mb20" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button [disabled]="!abnSuccess" color="primary" class="right-icon" (click)="nextStep(); confirmAbn()">Yes, thats me <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

    <!-- STEP 6 -->
    <div class="container" *ngIf="isStep('payment_method')">
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p class="text-color-gray">
                   Please choose your preferred payment method for your monthly bill.
                   You can change your preference at any time once your account is created.
                </p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2">
                <div class="row paymentMethodsBlocks">
                    <div class="col-md-4 text-center">
                        <mat-card [class.active]="signupData.payment_method == 'direct_debit'" (click)="setPaymentMethod('direct_debit')"><img src="/assets/img/university-light.svg" width="70"/></mat-card>
                        Direct Debit from bank account
                    </div>
                    <div class="col-md-4 text-center">
                        <mat-card [class.active]="signupData.payment_method == 'auto_debit_credit_card'" (click)="setPaymentMethod('auto_debit_credit_card')"><img src="/assets/img/credit-card-light.svg" width="70"/></mat-card>
                        Auto debit from Credit Card
                    </div>
                    <div class="col-md-4 text-center">
                        <mat-card [class.active]="signupData.payment_method == 'bpay'" (click)="setPaymentMethod('bpay')"><img src="/assets/img/pay-via-bpay.png" width="100"/></mat-card>
                        Pay manually via
                        BPay or Credit Card
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col text-center">
                <button mat-raised-button color="primary" class="mr-lg20 left-icon mb-mb20" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button color="primary" [disabled]="!signupData.payment_method" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

    <!-- STEP PAYMENT AUTO DEBIT CREDIT CARD -->
    <div class="container" *ngIf="isStep('payment_method_auto_debit_credit_card')">
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p class="text-color-gray">
                   Auto debit from a Credit Card or Debit Card
                </p>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col credit-card text-center">
                        <app-credit-card-form [formData]="signupData" (formDataChange)="onCreditCardFormDataChange()" (formObject)="onCreditCardFormObjectCreate($event)"></app-credit-card-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2">
                <strong>Debit Arrangement</strong><br/>
                <strong>Commencing:</strong> 28/10/2018<br/>
                <strong>Frequency:</strong> Monthly; or on the invoice due date

                <form [formGroup]="form" class="mt20">
                    <table>
                        <tr>
                            <td valign="top"><mat-checkbox class="mr10" formControlName="accept_payment_auto_debit_credit_card"></mat-checkbox></td>
                            <td class="pl-10">I authorise MOVOX to debit the debit card or credit card nominated in this Direct Debit Request in accordance with the Debit Arrangement above and <a href="#">DDR Service Agreement</a> which I have read and understand; and</td>
                        </tr>
                        <tr>
                            <td valign="top"><mat-checkbox class="mr10 mt10" formControlName="accept_payment_auto_debit_credit_card_privacy"></mat-checkbox></td>
                            <td class="pl-10"> I acknowledge that personal information will be collected, held and used in accordance with MOVOX’s <a href="#" target="_blank">Privacy Policy</a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="row mt20">
            <div class="col text-center">
                <button mat-raised-button color="primary" [disabled]="inProgress" class="mr-lg20 left-icon mb-mb20" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button color="primary" [disabled]="inProgress || !creditCardValid || !this.signupData.accept_payment_auto_debit_credit_card || !this.signupData.accept_payment_auto_debit_credit_card_privacy" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

    <!-- STEP PAYMENT DIRECT DEBIT -->
    <div class="container" *ngIf="isStep('payment_method_direct_debit')">
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2 text-center">
                <p class="text-color-gray">
                   Direct Debit from a bank account
                </p>
            </div>
        </div>
        <form [formGroup]="form" class="mt20">
            <div class="row mt20">
                <div class="col-lg-6 offset-lg-3">
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Bank Name" formControlName="direct_debit_bank_name">
                                    <mat-option *ngFor="let name of banksNames | keyvalue" value="{{name.key}}">{{name.value}}</mat-option>
                                </mat-select>
                                <mat-error>
                                    <span *ngIf="form.hasError('required', ['direct_debit_bank_name'])">
                                        Bank name is required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <mat-form-field class="full-width" appearance="legacy">
                                <mat-label>BSB</mat-label>
                                <input matInput formControlName="direct_debit_bsb" placeholder="BSB">
                                <mat-error>
                                    <span *ngIf="form.hasError('required', ['direct_debit_bsb'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-7">
                            <mat-form-field class="full-width" appearance="legacy">
                                <mat-label>Account Number</mat-label>
                                <input matInput formControlName="direct_debit_account_number" placeholder="Account Number">
                                <mat-error>
                                    <span *ngIf="form.hasError('required', ['direct_debit_account_number'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="full-width" appearance="legacy">
                                <mat-label>Account Name</mat-label>
                                <input matInput formControlName="direct_debit_account_name" placeholder="Account Name">
                                <mat-error>
                                    <span *ngIf="form.hasError('required', ['direct_debit_account_name'])">
                                        Required
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-lg-8 offset-lg-2">
                    <strong>Debit Arrangement</strong><br/>
                    <strong>Commencing:</strong> 28/10/2018<br/>
                    <strong>Frequency:</strong> Monthly; or on the invoice due date
                    <table class="mt20">
                        <tr>
                            <td valign="top"><mat-checkbox class="mr10" formControlName="accept_payment_direct_debit"></mat-checkbox></td>
                            <td class="pl-10">I/we authorise MOVOX to debit the bank account nominated in this Direct Debit Request in accordance with the Debit Arrangement above and <a href="#">DDR Service Agreement</a> which I/we have read and understand; and</td>
                        </tr>
                        <tr>
                            <td valign="top"><mat-checkbox class="mr10 mt10" formControlName="accept_payment_direct_debit_privacy"></mat-checkbox></td>
                            <td class="pl-10">I/we acknowledge that personal information will be collected, held and used in accordance with MOVOX’s <a href="#">Privacy Policy</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <div class="row mt20">
            <div class="col text-center">
                <button mat-raised-button color="primary" [disabled]="inProgress" class="mr-lg20 left-icon mb-mb20" (click)="prevStep()"><mat-icon class="mr20 rotate180">arrow_forward</mat-icon> Back</button>
                <button mat-raised-button color="primary" [disabled]="inProgress || !this.form.valid" class="right-icon" (click)="nextStep()">Next <mat-icon class="ml20">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>

    <!-- STEP THANK YOU -->
    <div class="container" *ngIf="isStep('thank_you')">
        <div class="row mt20">
            <div class="col text-center">
                <img height="48" src="/assets/img/handshake-light.svg" class="mb20 mt20"/><br/>
                <span class="text-color-gray text-size-x-large">Thank you for choosing MOVOX</span>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-lg-8 offset-lg-2 text-center">
                We will send you an email confirming the details of your account and information about managing your services with us.
            </div>
        </div>
        <div class="row mt40">
            <div class="col text-center">
                <button mat-raised-button color="primary">Complete order</button>
            </div>
        </div>
    </div>
</mat-card>

<div class="container mt20 d-none">
    <div class="row">
        <div class="col text-center">
             <button mat-raised-button color="warn" (click)="logData()">Log Data</button>
        </div>
    </div>
</div>
