@import '../../../variables';

.mat-card.mainCard {
    padding: 3rem;
    
    @media only screen and (max-width: $width-md){
        padding: 1rem;
    }
}

.paymentMethodsBlocks{
    mat-card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        cursor: pointer;
        height: 150px;
       
        &.active{
            background-color: $color-green;
        }
    }
}

mat-progress-bar.loader{
    position: absolute;
    top: 0;
    left: 0;
}

.select-account-type{
    border: 1px solid $color-gray--lightest;
    border-radius: 3px;
    
    @media only screen and (min-width: $width-lg){
        display: flex;
    }
    
    div{
        flex-grow: 1;
        flex-basis: 0;
        cursor: pointer;
        font-size: 1rem;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        
        @media only screen and (max-width: $width-md){
            width: 100%;
        }

        @media only screen and (min-width: $width-lg){
            &:not(:last-child){
                border-right: 1px solid $color-gray--lightest;
            }
        }
        
        &.active{
            background-color: $color-green;
            color: white;
            border-right: 1px solid $color-green;
        }
    }
}

.id-verification{
    .document{
        margin-top: 20px;
        display: flex;
        flex: 0 0 100%;
        
        .img{
            display: flex;
            align-items: center;
            width: 70px;
        }
        
        .document-progress{         
            flex: 1 1 auto;
            
            .document-name{
                float: left;
                width: 100%;
                overflow-x: hidden;
            }
            
            mat-progress-bar{
                float: left;
                width: 100%;
            }
            
            .status{
                float: left;
                width: 100%;
                font-size: 0.875rem;
                color: $color-gray--lighter;
            }            
        }
        
        .file-size{
            padding-left: 10px;
            color: $color-gray--lighter;
            display: flex;
            align-items: center;
            width: 50px;
        }
        
        .cancel{
            display: flex;
            align-items: center;
            padding-left: 15px;
            font-size: 1.25rem;
            color: $color-gray--lighter;
            font-weight: bold;
            cursor: pointer;
            
            &:hover{
                color: darken($color-gray--lighter, 50%);
            }
        }
        
        .file-input{
            flex: 1 1 auto;
            align-items: center;
            
            input{
                border-radius: 0px;
            }
        }
    }
}

.directors-list{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    mat-icon{
        cursor: pointer;
    }
}